:root {
	--bg: #332f35;
	--fg: lighten(var(--bg), 20%);
	--borderWidth: 3px;
}

.filter-options {
	margin: 50px auto;
	text-align: center;
}

.filter-section input[type="radio"] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.filter-option {
	color: lighten(var(--bg), 40%);
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 25px;
}

.filter-section input[type="radio"]:checked + .filter-option {
	color: white;
	background: var(--bg);
}

.filter-option + .filter-section input[type="radio"] + .filter-option {
	border-left: solid var(--borderWidth) var(--fg);
}

.radio-group {
	border: solid var(--borderWidth) var(--fg);
	display: inline-block;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");