:root {
    --bg: #332f35;
    --fg: lighten(var(--bg), 20%);
    --borderWidth: 3px;
}

.filter-options {
    margin: 50px auto;
    text-align: center;
}

.filter-section input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.filter-option {

	font-family: "Open Sans", sans-serif;
	color: lighten(var(--bg), 40%);
	display: inline-block;
	transition: all 1s;
	box-shadow: 0 0 15px 0px #2f2f2f;
	font-weight: 500;
	padding: 8px 20px;
	border-radius: 25px;
	cursor: pointer;
	margin-right: 10px;
}

.filter-option:hover,
.filter-section input[type="radio"]:checked + .filter-option {
	background: var(--bg); /* Change background color on hover */
	color: white;
    
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto");

@media (max-width: 480px) {
    .filter-option {
      font-size: 14px;
      padding: 8px 16px;
      margin-bottom: 10px;
    }
  
    .filter-options {
      margin: 30px auto;
    }
  }