.gallery-section {
    width: 90%;
    padding: 10px;
    margin: 4rem auto;
}

.no-images-message {
    width: 50%;
	margin: auto;
	font-family: "Raleway", sans-serif;
	color: red;
	text-align: center;
	height: 150px;
	font-size: 30px;
	line-height: 30px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .gallery-section {
      width: 100%;
      padding: 5px;
      margin: 2rem auto;
    }
  }

