header {
	position: sticky;
	top: 0;
	z-index: 999;
}

header.show {
	display: block;
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.header-section {
	position: sticky;
	top: 0;
	background-color: #efefef;
	padding: 0 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 160px;
	height: 70px;
	margin-right: 10px;
	margin-left: 20px;
}

.btn-pos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

/* button {
	background-color: #f2f2f2;
	color: #333;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	font-size: 24px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 50px;
} */

.modal-container {
	position: relative;
}

.modal {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.form-field {
	width: 400px;
	height: 350px;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.form-field h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.form-field input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.form-field button {
	width: 100%;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.close-button {
	position: absolute;
	top: -190px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: #555;
}

.form-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.logBut {
	color: rgb(98, 98, 98);
	font-weight: 500;
}
.logBut:hover {
	border: 2px solid;
}

.upBut {
	background-color: rgb(133, 213, 153);
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/da/Upload_icon_mask.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 22px;
	width: 165px;
	color: white;
	font-weight: 500;
	padding-right: 0;
	background-origin: content-box;

	text-align: center;
}

.upBut:hover {
	background-color: rgba(133, 213, 153, 0.8);
}
