/* ImageCard.css */
* {
	margin: 0;
	padding: 0;
}

.image-card {
	position: relative;
	cursor: pointer;
}

.image-card img {
	width: 100%;
	height: 100%;
}

.image-card .details {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.image-card:hover .details {
	opacity: 1;
}

.image-card .details .description {
	font-size: 16px;
	margin-bottom: 10px;
}

.image-card .details .rating,
.image-card .details .tags,
.image-card .details .Date,
.image-card .details .No.download,
.image-card .details .categories {
	font-size: 14px;
	margin-bottom: 5px;
}

.image-card button {
	margin: 0;
	position: absolute;
	padding: 6px ;
	border: none;
	border-radius: 8px;
	color: #fff;
	background-color: rgba(239, 239, 239, 0.903);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.image-card:hover button {
	opacity: 0.8;
}

.image-card button:hover {
	opacity: 1;
	background-color: #fff;
}

.image-card .bookmark-button {
	left: auto;
	right: 10px;
	top: 10px;
}

/* Additional styles for specific buttons */

.image-card .like-button {
	top: 5px;
	left: 10px;
}

.image-card .download-button {
	left: auto;
	right: 10px;
	bottom: 10px;
}

.image-card .delete-button {
	bottom: 10px;
	right: 80px;
}

.image-card .icon {
	width: 30px;
}
