.search-section > form > div > input {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: #f7f7f7;
	border: 1px solid rgb(79,70,100);
	padding-left: 50px; /* Add padding to accommodate the search icon */
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1890px-Vector_search_icon.svg.png); /* Replace 'search-icon.svg' with your search icon image path */
	background-repeat: no-repeat;
	background-position: 25px center; /* Adjust the position of the search icon */
	background-size: 15px; /* Adjust the size of the search icon */
	margin: 0 auto;
	width: 670px;
	border-radius: 30px;
	height: 55px;
	width: 270%;
	font-size: 16px;
	margin-top: 342px;
	box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search-section > form > div > input:hover {
	border: 2px solid rgb(79,70,100);
}