.container {
    display: flex;
     flex-direction: column; 
    align-items: center;
    border-radius : 7px;
    display: inline-block;
    position: relative;
    
  }
  
  .input-field {
    margin-bottom: 10px;
    border-radius: 7px;
   
  }
  .input-field:last-child {
    margin-right: 0;
   
  }
  
  .input-field input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .input1 {
    position: absolute;
    left: 300px;
  }

  .input3 {
    position: absolute;
    left: 600px;
    top: 0%;
  }

  